.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: background 0.3s;
}
.contianer {
  max-width: 1200px;
  margin: 0 auto;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header h2 {
  cursor: pointer;
}
.header nav a {
  text-decoration: none;
  color: inherit;
}

.header.light {
  background: #fff;
  color: #222;
}

.header.dark {
  background: #222;
  color: white;
}

.theme-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: inherit;
}


.theme-btn:hover {
  color: #007bff;
}


/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.modal button {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.close-btn {
  background: red;
}
.favorite-btn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.cart-btn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.edit-btn {
  background: yellow;
  color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.delete-btn {
  background: red;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.buy-btn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.add-btn {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-btn {
  cursor: pointer;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 1;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
