.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    
}

.product-card button {
    background: #007bff;
    color: white;
    padding: 8px;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.edit-form input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

